PREFIX schema: <http://schema.org/>

DELETE {
  ?bnode ?outP ?outO .
  ?inS ?inP ?bnode .
}
INSERT {
  ?iri ?outP ?outO .
  ?inS ?inP ?iri .
}
WHERE {
  {
    SELECT ?bnode ?iri
    WHERE {
      {
        SELECT DISTINCT ?bnode
        WHERE {
          ?bnode a schema:PostalAddress .
          FILTER isBlank(?bnode)
        }
        LIMIT {{limit}}
      }
      BIND (IRI(CONCAT("http://linked.opendata.cz/resource/postal-address/", STRUUID())) AS ?iri)
    }
  }
  ?bnode ?outP ?outO .
  OPTIONAL {
    ?inS ?inP ?bnode .
  }
}
