PREFIX ruian:  <http://ruian.linked.opendata.cz/ontology/>
PREFIX schema: <http://schema.org/>

INSERT {
  ?place schema:address ?postalAddress .
}
WHERE {
  {
    SELECT ?postalAddress ?place
    WHERE {
      ?postalAddress schema:description ?name .
      VALUES ?class {
        ruian:Obec
        ruian:Vusc
      }
      ?place a ?class ;
        schema:geo [] ;
        schema:name ?name .
      FILTER NOT EXISTS {
        ?place schema:address ?postalAddress .
      }
    }
    LIMIT {{limit}}
  }
}
